domene/src/main/xsd/Avlevering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://www.arkivverket.no/arkivverket/Arkivverket/Helsearkiv" 
    xmlns="http://www.arkivverket.no/arkivverket/Arkivverket/Helsearkiv" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
    <xs:element name="Avlevering" type="Avlevering">
        <xs:annotation>
            <xs:documentation>Avleverende virksomhet skal utarbeide en avleveringsliste, som er en fullstendig fortegnelse over det fysiske arkivmaterialet som avleveringen omfatter. Avleveringslisten skal leveres i digital form og inneholde oversikt over hva som avleveres og hvordan dette er ordnet.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="Virksomhet">
        <xs:sequence>
            <xs:element name="organisasjonsnummer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>organisasjonsnummer fra Brønnøysundregistrene</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="navn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Navn på virksomheten</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="foretaksnavn" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Navn på foretak</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Avtale">
        <xs:sequence>
            <xs:element name="avtaleidentifikator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>En unik identifikator som identifiserer den enkelte avleveringsavtale. Tildeles av arkivdepotet ved avtaleinngåelse med arkivskaper.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avtaledato" type="xs:date"/>
            <xs:element name="avtalebeskrivelse" type="xs:string"/>
            <xs:element name="virksomhet" type="Virksomhet"/> 
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Avlevering">
        <xs:sequence>
            <xs:element name="avleveringsidentifikator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unik identifikator som identifiserer den enkelte arkivavlevering. Merk: Avleveringsidentifikator fastsettes av NHA i den avtalen som inngås mellom arkivskaper og arkivdepot i forbindelse med en avlevering.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avleveringsbeskrivelse" type="xs:string">
                <xs:annotation>
                    <xs:documentation>utfyllende opplysninger</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avtale" type="Avtale"/>            
            <xs:element name="arkivskaper" type="xs:string"/>
            <xs:element name="pasientjournal" type="Pasientjournal"  maxOccurs="unbounded"/>
            <xs:element ref="oppdateringsinfo" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Pasientjournal">
        <xs:sequence>
            <xs:element name="journalidentifikator" type="Journalidentifikator">
                <xs:annotation>
                    <xs:documentation>Identifikator som er påført journalen</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="grunnopplysninger" type="Grunnopplysninger">
                <xs:annotation>
                    <xs:documentation>Avleveringslisten skal inneholde følgende opplysningstyper om hver enkelt pasientjournal</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="diagnose" type="Diagnose" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="supplerendeopplysninger" type="Supplerendeopplysninger" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Avleveringslisten skal inneholde følgende supplerende opplysninger om hver enkelt pasientjournal, dersom de kan hentes fra virksomhetens pasientadministrative systemer eller annen elektronisk registratur</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lagringsenhet" type="Lagringsenhet" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Peker til hvor pasientjournalen fysisk befinner seg.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="slettet" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Angir om journalen er slettet.
                        Verdi "true" uttrykker sant (ja, avkrysset boks etc.) mens verdi "false" uttrykker usant (verdi nei, ikke avkrysset boks etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="slettet" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                   <xs:documentation>
                        Angir om journalen er slettet.
                        Verdi "true" uttrykker sant (ja, avkrysset boks etc.) mens verdi "false" uttrykker usant (verdi nei, ikke avkrysset boks etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element ref="oppdateringsinfo"/>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Universel unik identifikator som benyttes for entydig å identifisere en pasientjournal</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="Journalidentifikator">
        <xs:sequence>
            <xs:element name="journalnummer" type="xs:string" minOccurs="0"/>
            <xs:element name="løpenummer" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
              
    <xs:complexType name="Grunnopplysninger">
        <xs:sequence>
            <xs:element name="identifikator" type="Identifikator">
                <xs:annotation>
                    <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pnavn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Pasientens navn</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="født" type="DatoEllerAar">
                <xs:annotation>
                    <xs:documentation>Pasientens fødselsdato eller år</xs:documentation>
                </xs:annotation>
            </xs:element>            
            
            <xs:element name="dødsdatoUkjent" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Angir om dødsdato/år er ukjent.
                        Verdi "true" uttrykker sant (ja, avkrysset boks etc.) mens verdi "false" uttrykker usant (verdi nei, ikke avkrysset boks etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
                                        
            <xs:element name="død" type="DatoEllerAar" minOccurs="0" >
                <xs:annotation>
                    <xs:documentation>Pasientens dødsdato eller år dersom dette er kjent</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element name="kontakt" type="Kontakt" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Første og siste året for innleggelse eller konsultasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kjønn" type="Kjønn"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="DatoEllerAar">
        <xs:annotation>
            <xs:documentation>Type for å representere en dato eller et årstall</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="dato" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Dato</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="aar">
                <xs:annotation>
                    <xs:documentation>Årstall på formen ÅÅÅÅ (4 siffer) mellom 1800 og 2099</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1800"/>
                        <xs:maxInclusive value="2099"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>        
        </xs:choice>
    </xs:complexType>
                       
    <xs:complexType name="Identifikator">
        <xs:annotation>
            <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PID" type="xs:string"/>
            <xs:element name="typePID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="D">
                            <xs:annotation>
                                <xs:documentation>Virksomhetsinterne pasientnummer</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="H">
                            <xs:annotation>
                                <xs:documentation>Hjelpenummer</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="F">
                            <xs:annotation>
                                <xs:documentation>Fødselsnummer</xs:documentation>
                            </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>        
        </xs:sequence>
    </xs:complexType>
                                         
    <xs:complexType name="Kontakt">
        <xs:sequence>
            <xs:element name="foerste" type="DatoEllerAar" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidspunkt for første kontakt</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="siste" type="DatoEllerAar" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Tidspunkt for siste kontakt</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Supplerendeopplysninger">
        <xs:sequence>
            <xs:element name="hendelse" type="Hendelse"/>
            <xs:element name="henvisning" type="Henvisning"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="diagnosekode">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>
                    Kode som angir hvilken diagnose det gjelder.					
                    Eksempel på kodeverk: 
                    Code System: ICD-10  [2.16.840.1.113883.6.3] (icd10)
                </xs:documentation>
            </xs:annotation>
            <xs:complexContent>
                <xs:extension base="CV"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
        
    <xs:complexType name="Diagnose">
        <xs:sequence>
            <xs:element minOccurs="0" name="diagdato" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Dato for fastsettelse av diagnose</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="diagnosekode" minOccurs="0" maxOccurs="1"/>
            <xs:element name="diagnosetekst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Benyttes i de tilfeller der men ikke har diagnosekode.
                        Kan også benyttes til suplerende tekst.
                    </xs:documentation>
                </xs:annotation>
                
            </xs:element>
            <xs:element ref="oppdateringsinfo" minOccurs="1" maxOccurs="1"/>     
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Universel unik identifikator som benyttes for entydig å identifisere en fastsatt diagnose</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
        
    <xs:complexType name="Hendelse">
        <xs:sequence>
            <xs:element name="typehelsehjelp" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type helsehjelp eller prosedyre</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bosted" type="Bosted">
                <xs:annotation>
                    <xs:documentation>Adresse eller bostedskommune ved hver innleggelse eller konsultasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="innleggelse" type="Innleggelse"/>
                <xs:element name="konsultasjon" type="Konsultasjon"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>  

    <xs:complexType name="Bosted">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="kommune" type="Kommune"/>
            <xs:element name="adresse" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
            
    <xs:complexType name="Kommune">
        <xs:sequence>
            <xs:element name="knavn" type="xs:string"/>
            <xs:element name="knummer">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Innleggelse">
        <xs:sequence>
            <xs:element name="inndato" type="xs:date"/>
            <xs:element name="utdato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Konsultasjon">
        <xs:sequence>
            <xs:element name="kdato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Henvisning">
        <xs:annotation>
            <xs:documentation>Henvisning mellom pasientarkiv og relevante administrative saker i sakarkiv.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="hensvisningskilde" type="xs:string"/>
            <xs:element name="referanse" type="xs:string"/>
            <xs:element name="beskrivelse" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Lagringsenhet">
        <xs:annotation>
            <xs:documentation>
                Representerer den fysiske enheten (kasse, boks etc.), hvor pasientjournalene oppbevares.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="identifikator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Identifikator som identifiserer den fysiske enheten (kasse, boks etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Universel unik identifikator som benyttes for entydig å identifisere en lagringsenhet</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="CS">
        <xs:annotation>
            <xs:documentation>
                Denne klassen benyttes for å representere datatypen CS.
                Benyttes for registrering av kodet verdi hvor koden angis i form av en tekststreng og med mulighet til å angi kodemeningen som opsjon. Kodeverket og versjonen av dette skal være entydig bestemt av dataelementtypen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En tekststeng som inneholder kodeverdien (f.eks., "HS")
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="displayName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En tekststeng (term) som beskriver det begrep som koden representerer (f.eks. "Helsesøster" for kode "HS")
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="oppdateringsinfo" type="Oppdateringsinfo"/> 
    <xs:complexType name="Oppdateringsinfo">
        <xs:annotation>
            <xs:documentation>
                En instans av denne klassen benyttes for å registrere opplysninger om oppdatering av avleveringsbeskrivelsen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sist_oppdatert" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Tidspunkt for siste oppdatering av avleveringsdokumentasjonen.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="oppdatert_av" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Navn på den som foretok siste oppdatering av avleveringsdokumentasjonen.
                    </xs:documentation>
                </xs:annotation>

            </xs:element>
            <xs:element name="prosesstrinn" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Angivelse av hvor i avleveringsprosessen en er når avleveringsdokumentasjonen oppdateres.   
                        Følgende tekster skal kunne benyttes:  
                         - Utvalg  
                         - Uttrekk  
                         - Kvalitetssikring  
                         - Overføring  
                         - Tilbakemelding  
                         - Avsluttet 
                    </xs:documentation>
                </xs:annotation>
 
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CV">
        <xs:annotation>
            <xs:documentation>
                Benyttes for registrering av koder i kodeverk som identifiseres entydig av en OID, og som det ikke er naturlig å benytte datatype CS for.  
                Merk:  
                Bruk av datatype CV forutsettes at i spesifikasjonene er angitt hvilke konkrete kodeverk som skal kunne benyttes ved registrering i dette attributtet. Denne datatypen skal kun benyttes for kodeverk som kan identifiseres gjennom en OID.  
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En tekststeng som inneholder kodeverdien (f.eks., "F40.0")
                        Merk: code skal normalt alltid angis når denne datatypen benyttes. I visse situasjoner kan imidlertid det tillates at CV benyttes uten at det angis kode men kun en originalText. F.eks. kan dette være aktuelt dersom kodingen skal skje hos mottakeren av meldingen (post coding). Det skal i slike tilfeller angis eksplisitt i beskrivelsen av attributtet (i implementasjonsguide el.) dersom dette tillates.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="displayName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En tekststeng (term) som beskriver det begrep som koden representerer (F.eks. "Agorafobi" for F40.0)
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codeSystem" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En Object Identifier (OID) som entydig identifiserer det kodeverk som kodene tilhører.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="codeSystemVersion" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        En tekststeng som beskriver versjonen av kodeverket.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="originalText" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Kan benyttes for å registrere den tekst som dannet grunnlaget for valg av kode.
                        Vær spesielt oppmerksom på at dersom et kodeverk inneholder en kode for "Annet" (eller tilsvarende), så vil det ofte være ønskelig å registrere hva dette "annet" er. I slike tilfeller kan en gjerne benytte parameteren originalText, men dette bør da anmerkes spesielt i implementasjonsguide eller annen relevant dokumentasjon.
                        Merk: originalText må angis dersom code ikke angis.
                        
                        NB! Merknad(Arnfinn Sandnes) : Tror ikke dette elementet bør ligge her, men bør være et element som bør ligge på elementene som benytter denne typen (CV).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Kjønn">
        <xs:complexContent>
            <xs:extension base="CS"/>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
