domene/src/main/xsd/Avleveringsliste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Avleveringsliste">
        <xs:annotation>
            <xs:documentation>Avleverende virksomhet skal utarbeide en avleveringsliste, som er en fullstendig fortegnelse over det fysiske arkivmaterialet som avleveringen omfatter. Avleveringslisten skal leveres i digital form og inneholde oversikt over hva som avleveres og hvordan dette er ordnet.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="pasientjournal">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="grunnopplysninger">
                                <xs:annotation>
                                    <xs:documentation>Avleveringslisten skal inneholde følgende opplysningstyper om hver enkelt pasientjournal</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="identifikator">
                                            <xs:annotation>
                                                <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence maxOccurs="unbounded">
                                                  <xs:element name="PID" type="xs:string"/>
                                                  <xs:element name="typePID" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="pnavn" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Pasientens navn</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="fdato" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Pasientens fødselsdato</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="ddato" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Pasientens dødsdato eller år dersom dette er kjent</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="kontaktaar">
                                            <xs:annotation>
                                                <xs:documentation>Første og siste året for innleggelse eller konsultasjon</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="foerste">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="[1,2]{1}[8,9,0]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  <xs:element name="siste">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="[1,2]{1}[8,9,0]{1}[0-9]{2}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="diagnoser">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded" minOccurs="1">
                                        <xs:element name="kode" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Diagnosekode</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="kodeverk" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Kodeverk (og versjon) som diagnosekoden er hentet fra</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="tekst" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Diagnosekodens tekstlige beskrivelse</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="diagdato" type="xs:date">
                                            <xs:annotation>
                                                <xs:documentation>Dato for fastsettelse av diagnose</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="supplerendeopplysninger">
                                <xs:annotation>
                                    <xs:documentation>Avleveringslisten skal inneholde følgende supplerende opplysninger om hver enkelt pasientjournal, dersom de kan hentes fra virksomhetens pasientadministrative systemer eller annen elektronisk registratur</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                        <xs:element name="hendelse">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="typehelsehjelp" type="xs:string">
                                                  <xs:annotation>
                                                  <xs:documentation>Type helsehjelp eller prosedyre</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element name="bosted">
                                                  <xs:annotation>
                                                  <xs:documentation>Adresse eller bostedskommune ved hver innleggelse eller konsultasjon</xs:documentation>
                                                  </xs:annotation>
                                                  <xs:complexType>
                                                  <xs:sequence maxOccurs="1" minOccurs="1">
                                                  <xs:element name="kommune">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="knavn" type="xs:string"/>
                                                  <xs:element name="knummer">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:pattern value="[0-9]{4}"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element minOccurs="0" name="adresse"
                                                  type="xs:string"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:choice>
                                                  <xs:element name="innleggelse">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="inndato" type="xs:date"/>
                                                  <xs:element name="utdato" type="xs:date"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="konsultasjon">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="kdato" type="xs:date"/>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="henvisninger">
                                            <xs:annotation>
                                                <xs:documentation>Henvisninger mellom pasientarkiv og relevante administrative saker i sakarkiv.
</xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="hensvisningskilde"
                                                  type="xs:string"/>
                                                  <xs:element name="referanse" type="xs:string"/>
                                                  <xs:element name="beskrivelse" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
