domene/src/main/xsd/Avlevering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    targetNamespace="http://www.arkivverket.no/arkivverket/Arkivverket/Helsearkiv" 
    xmlns="http://www.arkivverket.no/arkivverket/Arkivverket/Helsearkiv" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified">
    <xs:element name="Avlevering" type="Avlevering">
        <xs:annotation>
            <xs:documentation>Avleverende virksomhet skal utarbeide en avleveringsliste, som er en fullstendig fortegnelse over det fysiske arkivmaterialet som avleveringen omfatter. Avleveringslisten skal leveres i digital form og inneholde oversikt over hva som avleveres og hvordan dette er ordnet.</xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="Virksomhet">
        <xs:sequence>
            <xs:element name="organisasjonsnummer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>organisasjonsnummer fra Brønnøysundregistrene</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="navn" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Avtale">
        <xs:sequence>
            <xs:element name="avtaleidentifikator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>En unik identifikator som identifiserer den enkelte avleveringsavtale. Tildeles av arkivdepotet ved avtaleinngåelse med arkivskaper.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avtaledato" type="xs:date"/>
            <xs:element name="avtalebeskrivelse" type="xs:string"/>
            <xs:element name="virksomhet" type="Virksomhet"/> 
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Avlevering">
        <xs:sequence>
            <xs:element name="avleveringsidentifikator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unik identifikator som identifiserer den enkelte arkivavlevering. Merk: Avleveringsidentifikator fastsettes av NHA i den avtalen som inngås mellom arkivskaper og arkivdepot i forbindelse med en avlevering.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avleveringsbeskrivelse" type="xs:string">
                <xs:annotation>
                    <xs:documentation>utfyllende opplysninger</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="avtale" type="Avtale"/>
            <xs:element name="arkivskaper" type="xs:string"/>
            <xs:element name="pasientjournal" type="Pasientjournal"  maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="Pasientjournal">
        <xs:sequence>
            <xs:element name="grunnopplysninger" type="Grunnopplysninger">
                <xs:annotation>
                    <xs:documentation>Avleveringslisten skal inneholde følgende opplysningstyper om hver enkelt pasientjournal</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="diagnose" type="Diagnose" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="supplerendeopplysninger" type="Supplerendeopplysninger" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Avleveringslisten skal inneholde følgende supplerende opplysninger om hver enkelt pasientjournal, dersom de kan hentes fra virksomhetens pasientadministrative systemer eller annen elektronisk registratur</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="uuid" type="xs:string">
            <xs:annotation>
                <xs:documentation>Universel unik identifikator som benyttes for entydig å identifisere en pasientjournal</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>   
    <xs:complexType name="Grunnopplysninger">
        <xs:sequence>
            <xs:element name="identifikator" type="Identifikator">
                <xs:annotation>
                    <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pnavn" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Pasientens navn</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fdato" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Pasientens fødselsdato</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ddato" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Pasientens dødsdato eller år dersom dette er kjent</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kontaktaar" type="Kontaktaar">
                <xs:annotation>
                    <xs:documentation>Første og siste året for innleggelse eller konsultasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
                       
    <xs:complexType name="Identifikator">
        <xs:annotation>
            <xs:documentation>Pasientidentifiserende opplysninger; fødselsnummer eller annet entydig identifikasjonsnummer, eventuelle virksomhetsinterne pasientnummer eller hjelpenummer mv.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PID" type="xs:string"/>
            <xs:element name="typePID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
                                         
    <xs:complexType name="Kontaktaar">
        <xs:sequence>
            <xs:element name="foerste">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[1,2]{1}[8,9,0]{1}[0-9]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="siste">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[1,2]{1}[8,9,0]{1}[0-9]{2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Supplerendeopplysninger">
        <xs:sequence>
            <xs:element name="hendelse" type="Hendelse"/>
            <xs:element name="henvisning" type="Henvisning"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Diagnose">
        <xs:sequence>
            <xs:element name="kode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Diagnosekode</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kodeverk" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Kodeverk (og versjon) som diagnosekoden er hentet fra</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tekst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Diagnosekodens tekstlige beskrivelse</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diagdato" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Dato for fastsettelse av diagnose</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="Hendelse">
        <xs:sequence>
            <xs:element name="typehelsehjelp" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type helsehjelp eller prosedyre</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bosted" type="Bosted">
                <xs:annotation>
                    <xs:documentation>Adresse eller bostedskommune ved hver innleggelse eller konsultasjon</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="innleggelse" type="Innleggelse"/>
                <xs:element name="konsultasjon" type="Konsultasjon"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>  

    <xs:complexType name="Bosted">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="kommune" type="Kommune"/>
            <xs:element name="adresse" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
            
    <xs:complexType name="Kommune">
        <xs:sequence>
            <xs:element name="knavn" type="xs:string"/>
            <xs:element name="knummer">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]{4}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Innleggelse">
        <xs:sequence>
            <xs:element name="inndato" type="xs:date"/>
            <xs:element name="utdato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Konsultasjon">
        <xs:sequence>
            <xs:element name="kdato" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="Henvisning">
        <xs:annotation>
            <xs:documentation>Henvisning mellom pasientarkiv og relevante administrative saker i sakarkiv.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="hensvisningskilde" type="xs:string"/>
            <xs:element name="referanse" type="xs:string"/>
            <xs:element name="beskrivelse" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
